html, body{
	padding: 0;
	margin: 0;
}

a:hover{
	text-decoration: none !important;
}

body{
	background: url(../img/backgroundd.png) no-repeat right top !important;
}

.barradecima{
	background: #D12421 !important;
}

.navbar-brand{
	color: #FFF !important;
	font-weight: bolder;
}

#logotipo{
}