html, body{
	padding: 0;
	margin: 0;
}

body{
	background: url(../img/background.png) no-repeat right top !important;
}

.barradecima{
	background: #D12421 !important;
}

.barradecima a{
	color: #FFF !important;
	font-weight: bolder;
}

#logotipo{
}